@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'plus-jakarta';
        src: url('./fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'satoshi';
        src: url('./fonts/Satoshi-Regular.otf') format('truetype');
    }
    @font-face {
        font-family: 'inter';
        src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    }

}
